In [20]:
import pandas as pd
import scr_utils as scru

In [21]:
rate_sek=scru.get_sek()

In [22]:
df_steam=scru.from_paraquet('steam_prices')
df_allkey=scru.from_paraquet('allkey_prices')
df_ig=scru.from_paraquet('ig_prices')

In [23]:
df_allkey.keys()

Index(['id_x', 'affiliateUrl', 'isActive', 'merchant', 'edition', 'region',
       'stock', 'platform', 'price.eur.bestCoupon.code',
       'price.eur.bestCoupon.discountValue',
       'price.eur.bestCoupon.discountStrategy',
       'price.eur.bestCoupon.isCashback', 'currency', 'price',
       'price.eur.bestCoupon', 'name', 'priceSEK'],
      dtype='object')

In [24]:
df_ig.keys()
df_ig['name']

0                                 Hitman 3
1                                 Hitman 3
2    Hitman 3 (Xbox ONE / Xbox Series X|S)
Name: name, dtype: object

In [25]:
df_steam.keys()
df_steam['name']

0    HITMAN 3
Name: name, dtype: object

In [26]:
rows_new=[]

In [27]:
curr_dtime=pd.Timestamp.now()

In [28]:
index_ig_row=df_ig.loc[df_ig['type']=='Steam'].index[0]

df_ig['prod_id'].to_dict()

di=df_ig.loc[index_ig_row,['name','priceSEK']].to_dict()

di.update(df_steam.loc[0,['steam_appid']].to_dict())

di.update(df_ig.loc[index_ig_row,['prod_id']].to_dict())
di

di.update({'src':'ig'})
di.update({'date_time':curr_dtime})
rows_new.append(di)

In [29]:
df_ig.loc[index_ig_row,['prod_id']].values[0]

12619

In [30]:
#steam
di=df_steam.loc[0,['name','priceSEK','steam_appid']].to_dict()
di.update({'ig_prod_id':df_ig.loc[index_ig_row,['prod_id']].values[0]})
di.update({'ig_priceSEK':df_ig.loc[index_ig_row,['priceSEK']].values[0]})
di.update({'date_time':curr_dtime})
#di.update(df_steam.loc[0,['date_time']].to_dict())
rows_new.append(di)
rows_new

[{'name': 'HITMAN 3',
  'priceSEK': 263.0,
  'steam_appid': 1659040,
  'ig_prod_id': 12619,
  'ig_priceSEK': 260.157896,
  'date_time': Timestamp('2022-10-20 15:45:16.154069')}]

ser_new=pd.Series({'src':'steam'})
ser_merged=pd.concat([ser_merged,ser_new],axis=0)

ser_merged=pd.concat([ser_merged,df_steam.loc[0,['date_time']]],axis=0)

In [31]:
#df_new=pd.DataFrame.from_dict(di,orient='index').T
df_new=pd.DataFrame(rows_new)
df_new

,name,priceSEK,steam_appid,ig_prod_id,ig_priceSEK,date_time
0,HITMAN 3,263.0,1659040,12619,260.157896,2022-10-20 15:45:16.154069

pd.DataFrame(ser_merged).T